.charts_grid {
  --min-cell-size: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-cell-size), 1fr));
  gap: 20px;
  margin-top: 20px;
}

@media (width < 580px) {
  .charts_grid {
    --min-cell-size: 280px;
  }
}
