.films_section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation {
  display: flex;
  gap: 20px;
}

@media (width <= 1200px) {
  .header {
    flex-direction: column;
  }
}
