.page_header_filters {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 2px;
  overflow: hidden;
}

.search {
  max-width: 450px;
  width: 100%;
}

@media (width <= 1200px) {
  .page_header_filters {
    width: 100%;
    justify-content: flex-start;
  }

  .search {
    max-width: initial;
  }
}

@media (width <= 785px) {
  .search:has(input:focus) {
    width: 100wv;
    flex-shrink: 0;
  }
}
