.list_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  width: 100%;
}

.list_header {
  background-color: var(--color-gray-light-dark);
  padding: 10px 10px 14px;
  border-radius: var(--rounded-default) var(--rounded-default) 0 0;
  margin-bottom: -4px;
}

.list_filters {
  display: flex;
  gap: 10px;
}

.add_item_action {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  text-transform: uppercase;
  font-size: var(--text-sm);
  font-weight: bold;
}

.add_item_action:hover {
  color: var(--color-blue-primary);
}

.sorting {
  margin-left: auto;
}
