.grid {
  --cols: 12;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 25px;
}

.grid_item {
  position: relative;
  display: block;
  width: 100%;
}

.cover {
  position: relative;
  width: 100%;
  aspect-ratio: 10 / 16;
  border-radius: var(--rounded-default);
  overflow: hidden;
  background-color: var(--color-gray-light);
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  transition: color 0.3s;
  margin: 5px 0;
}

.grid_item:not([aria-disabled='true']):hover .title {
  color: var(--color-blue-primary);
}

.year {
  text-align: center;
  font-size: 12px;
  color: var(--color-gray-dark);
}

.upcoming {
  color: var(--color-white);
  font-size: var(--text-xs);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red-primary);
  width: 100%;
  z-index: 8;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
}

.counter {
  font-size: var(--text-sm);
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: var(--shadow-sm);
}

@media (max-width: 1920px) {
  .grid {
    --cols: 8;
  }
}

@media (max-width: 1280px) {
  .grid {
    --cols: 6;
  }
}

@media (max-width: 960px) {
  .grid {
    --cols: 4;
  }
}

@media (max-width: 540px) {
  .grid {
    --cols: 3;
  }
}

@media (max-width: 400px) {
  .grid {
    gap: 15px;
  }
}
