.button {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  border-radius: var(--rounded-default);
  transition:
    background-color 0.3s,
    color 0.2s;
  flex-shrink: 0;
  cursor: pointer;
}

.fit_width {
  width: 100%;
}

.primary {
  background-color: var(--color-blue-primary);
}

.large {
  font-size: var(--text-xl);
  padding: 10px 20px;
}

.medium {
  font-size: var(--text-base);
  padding: 10px 20px;
}

.small {
  font-size: var(--text-sm);
  padding: 6px 12px;
}

.secondary {
  color: var(--color-black);
  background-color: var(--color-gray-light-dark);
}

.ghost {
  color: var(--color-black);
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

.danger {
  color: var(--color-white);
  background-color: var(--color-red-primary);
}

.light {
  color: var(--color-black);
  background-color: var(--color-white);
  border: var(--border-default);
}

.active {
  background-color: var(--color-blue-primary);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.large .icon,
.large .icon svg {
  width: 40px;
  height: 40px;
}

.loader {
  color: white !important;
}

.button:disabled {
  color: var(--color-gray-dark);
  cursor: default;
}

.button:not(.ghost):disabled {
  background-color: var(--color-gray-light);
}

.inherit_color {
  color: inherit;
}

@media (hover: hover) {
  .active:not(:disabled):hover {
    background-color: var(--color-blue-primary);
  }

  .ghost:not(:disabled):hover {
    color: var(--color-blue-primary);
    background-color: transparent;
    box-shadow: none !important;
  }

  .button:not(:disabled):hover {
    box-shadow: 0 0 0 1px var(--color-black);
  }
}
